/* Style for clock, alarm input, and alarms */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

label{
    color: seagreen ;
}

h2{
    font-style:oblique;
    text-decoration: underline;
    text-transform: uppercase;
}

.page-title{
    background-color: #0E141B;
    align-items: center;
    text-align: center;
    color: wheat;
    
  }

.clock {
    background-color: #7cb9c2;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alarm-input {
    background-color: #eaf0c6;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

.alarms {
    background-color: rgb(197, 235, 213);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#alarm-am-pm , #set-alarm-btn{
    margin-left: 1rem;
}

/* Style for alarm list items */
li {
    list-style-type: none;
    margin: 10px 0;
}

/* Add more CSS styling as needed */